<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/styles.css">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
    <div>
  <h1 class="addShow">Edit <%=icons.Name%> </h1>
  <form class="form" action="/<%=icons.id%>?_method=PUT" method="POST">
    Name: <input type="text" name="Name" value="<%=icons.Name%>"/><br/>
    Url: <input type="text" name="Url" value="<%=icons.Url%>"/><br/>
    Network: <input type="text" name="Network" value="<%=icons.Network%>"/><br/>
    Genre: <input type="text" name="Genre" value="<%=icons.Genre%>"/> <input type="text" name="Genre" value="<%=icons.Genre%>"/><input type="text" name="Genre" value="<%=icons.Genre%>"/><br/>
    Cast: <input class='cast' type="text" name="Cast" value="<%=icons.Cast%>"/><br/>
    Rating: <input type="range" min="0" max="100" id="send" name="Rating" oninput="result.value=send.value" value="<%=icons.Rating%>"/> <input type="text" id="result"/><br/>
</div>
   
    <input class = 'buttonEdit'  style = 'margin-left: 30px' type="submit" value="Edit"/>
    <button class = 'buttonBack'><a href="/">Back</a></button>
  </form>
</body>
</html>