<!DOCTYPE html>
<html lang="en">
<head>
    <script
  src="https://code.jquery.com/jquery-3.6.4.js"
  integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E="
  crossorigin="anonymous"></script>
		<script>$(() => {
                const $hover = $('#nOne')
            
                const appearOne = () => {
                $('#dOne').toggle('show')
                }

                $hover.on('click',appearOne)

                const $hoverTwo = $('#nTwo')
            
                const appearTwo = () => {
                $('#dTwo').toggle('slow')
                }
            
                $hoverTwo.on('click',appearTwo)

                const $hoverThree = $('#nThree')
            
                const appearThree = () => {
                $('#dThree').toggle('slow')
                }
            
                $hoverThree.on('click',appearThree)
            })</script>
    <link rel="stylesheet" href="/css/styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>PROJECT 2</title>
    
</head>
<body>
<h1 class="indexTitle">TV Show List</h1>



<nav>
    <div class='flex'>
        <p class="network" id="nOne">Network</p>
        <div class="network" id="dOne">
            <li> <a href='/icons'><button class="button">All</button></a></li>
            <li> <a href='/icons/netflix'><button class="button">Netflix</button></a></li>
            <li> <a href='/icons/hbo'><button class="button">HBO</button></a></li>
            <li> <a href='/icons/amc'><button class="button">AMC</button></a></li>
            <li> <a href='/icons/fx'><button class="button">FX</button></a></li>
        </div>
    </div>
    <div class='flex'>
        <p class="network" id="nTwo">Genre</p>
        <div class="network" id="dTwo">
            <li> <a href='/icons'><button class="button">All</button></a></li>
            <li> <a href='/icons/drama'><button class="button">Drama</button></a></li>
            <li> <a href='/icons/action'><button class="button">Action</button></a></li>
            <li> <a href='/icons/comedy'><button class="button">Comedy</button></a></li>
            <li> <a href='/icons/sci-fi'><button class="button">Science-Fiction</button></a></li>
        </div>
    </div>
    <div class="flex">
        <p class="network" id="nThree">Rating</p>
        <div class="network" id="dThree">
            <li> <a href='/icons'><button class="button">All</button></a></li>
            <li> <a href='/icons/ninety'><button class="button">90 +</button></a></li>
            <li> <a href='/icons/eighty'><button class="button">80 +</button></a></li>
            <li> <a href='/icons/seventy'><button class="button">70 +</button></a></li>
            <li> <a href='/icons/fifty'><button class="button">70 or less</button></a></li>
        </div>
    </div>
    
</nav>

<div class="container">

<% for(let i = 0; i < icons.length; i++){ %>
    <div class="apps">
        <a href="/icons/<%=icons[i].id%>"><img src=<%=icons[i].Url%>></img></a> </br>
        <p class="rating">Rating: <%=icons[i].Rating%></p>
    
        
        <form action="/icons/<%=icons[i].id%>?_method=DELETE" method="POST">
            <input class="buttonDelete" type="submit" value="DELETE">
            <a href="/icons/<%=icons[i].id%>/edit"><button class="buttonEdit" type="button">Edit</button></a>
        </form>
    </div>
<% } %>
</div>

    
    <div>
        <a href='/icons/new'><button class="buttonAdd" type="button">Add New Show</button></a>
    </div>


</body>
</html>