<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/styles.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="body">
        <h1 class="showTitle"><%=icons.Name%></h1>
        <img class="headerUrl" src=<%=icons.Url%>></img>

    <div class="showDescription">
        <h3 class="white">Network</h3>
        <p class="white"><%=icons.Network%></p>
        <h3 class="white">Genre</h3>
        <p class="white"><%=icons.Genre%></p>
        <h3 class="white">Cast</h3>
        <p class="white"><%=icons.Cast%></p>
        <h3 class="white">Rating</h3>
        <p class="white"><%=icons.Rating%></p>
    </div>  
    <button class ="buttonBack"><a href="/icons">Back</a></button>
</body>
</html>